<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>698704828355-3ag8afi9ej6n6au4d9a7j03iceskeq3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698704828355-3ag8afi9ej6n6au4d9a7j03iceskeq3u</string>
	<key>API_KEY</key>
	<string>AIzaSyC5fHCDT-tt-7jYfIgOd8wWpnbiCx-RevM</string>
	<key>GCM_SENDER_ID</key>
	<string>698704828355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.comidaChida.ComidaChida</string>
	<key>PROJECT_ID</key>
	<string>comida-chida</string>
	<key>STORAGE_BUCKET</key>
	<string>comida-chida.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698704828355:ios:3b02bf41dcb22b20</string>
	<key>DATABASE_URL</key>
	<string>https://comida-chida.firebaseio.com</string>
</dict>
</plist>